/* @import url('https://fonts.googleapis.com/css2?family=Noto+Serif:wght@400;700&display=swap'); */
@import url('https://fonts.googleapis.com/css2?family=Inconsolata&display=swap');

body {
    max-width: 1200px;
    margin: 20px auto;
    padding: 0 20px;
    /* font-family: 'Noto Serif', serif; */
    font-family: 'Inconsolata', monospace;
    font-size: 22px;
}

p, h1, h2, h3, a, ul {
    margin: 0;
    padding: 0;
    text-decoration: none;
    color: #222;
}





/* nav & footer styles */
nav {
    display: flex;
    justify-content: space-between;
    margin-bottom: 60px;
    padding-bottom: 10px;
    border-bottom: 1px solid #ddd;
    text-transform: uppercase;
}

nav ul {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
}

nav li {
    list-style-type: none;
    margin-left: 20px;
}

nav h1 {
    font-size: 3em;
}

nav p, nav a {
    color: #777;
    font-weight: 300;
}

footer {
    color: #777;
    text-align: center;
    margin: 80px auto 20px;
}

h2 {
    margin-bottom: 40px;
}

h3 {
    text-transform: capitalize;
    margin-bottom: 8px;
}

.content {
    margin-left: 20px;
}




/* index styles */
h2 {
    margin-bottom: 60px;
}

.title {
    margin: auto;
}

.snippet {
    margin-bottom: 40px;
}

.blog-content a {
    display: block;
    margin: 40px 0;
    padding-left: 30px;
    border-left: 6px solid rgb(0, 150, 220);
}

.blog-content a:hover h3 {
    color: rgb(0, 150, 220);;    
}

.blog-content a h3 {
    padding: 4px;
}




/* details styles */
.details {
    position: relative;   
}

.delete {
    position: absolute;
    top: 0;
    right: 0;
    border-radius: 16%;
    padding: 8px;
}

.delete:hover {
    cursor: pointer;
    box-shadow: 1px 2px 3px rgba(0, 0, 0, .2);
}






/* create styles */
.create-blog form {
    max-width: 400px;
    margin: 0 auto;
}

.create-blog input,

.create-blog textarea {
    display: block;
    width: 100%;
    margin: 10px 0;
    padding: 8px;
}

.create-blog label {
    display: block;
    margin-top: 24px;
}
 
textarea {
    height: 120px;
}



.create-blog button {
    border: 0;
    line-height: 2.5;
    padding: 0 20px;
    font-size: 1rem;
    text-align: center;
    color: #fff;
    text-shadow: 1px 1px 1px #000;
    border-radius: 10px;
    background-color: rgb(0, 150, 220);
    background-image: linear-gradient(to top left,
                                      rgba(0, 0, 0, .2),
                                      rgba(0, 0, 0, .2) 30%,
                                      rgba(0, 0, 0, 0));
    box-shadow: inset 2px 2px 3px rgba(255, 255, 255, .6),
                inset -2px -2px 3px rgba(0, 0, 0, .6);
}

.create-blog button:hover {
    background-color: rgba(0, 150, 220, 1);
}

.create-blog button:active {
    box-shadow: inset -2px -2px 3px rgba(255, 255, 255, .6),
    inset 2px 2px 3px rgba(0, 0, 0, .6);
}