<nav>
    <div class="site-title">
        <a href="/">The Blog</a>
        <p>Hey come share your stories :)</p>
    </div>
    <ul>
        <li><a href="/">Home</a></li>
        <li><a href="/about">About</a></li>
        <li><a href="/blogs/create">Add</a></li>
    </ul>
</nav>