<!DOCTYPE html>
<html lang="en">
    <%- include('./template/head.ejs') %> 
<body>
    <%- include('./template/nav.ejs') %> 

    <div class="not-found content">
        Oops, page does not exist
    </div>

    <%- include('./template/footer.ejs') %> 
</body>
</html>