<!DOCTYPE html>
<html lang="en">
    <%- include('./template/head.ejs') %> 
<body>
    <%- include('./template/nav.ejs') %> 

    <div class="about-content">
        <h2>About The Blog</h2>

        <p style="text-align: left;"><strong>Hey Welcome to The Blog</strong>, disini kalian bebas buat ceritain apa aja yang udah terjadi hari ini, atau kalian udah ngapain aja hari ini. Atau jika kalian mau curhat juga bisa, tentang hidup kalian, masalah hidup, pokoknya apa ajalah terserah kalian. </p>
        &nbsp;
        <p style="text-align: left;">Nanti kata - kata yang kalian post, Itu terserah mau dihapus atau mau di biarin aja. Kalo dirasa kata - kata nya ada yang keberatan atau gak enak atau mungkin emang gak cocok aja buat di post nih, ada tombol delete disitu.</p>
    </div>

    <%- include('./template/footer.ejs') %> 
</body>
</html>